PORT=8000
MONGODB_URI=mongodb+srv://priyangshu10diablo:Subh123@cluster0.wsvuaxi.mongodb.net
CORS_ORIGIN =*
ACCESS_TOKEN_SECRET = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9-eyJzdWIiOiIxMjM0NTY3ODkwIiwibm
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=3frtg544tv45t43343f4.3r3eqr432vtrt4tvrsfDEVfrgeE_wDWewcwSf
REFRESH_TOKEN_EXPIRY=10d